/* common */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.btn {
  background-color: #e95a08;
  color: #ffffff;
  padding: 26px 50px;

  gap: 10px;

  font-weight: 600;
  font-size: 16px;
  border: none;
}

/* Noto serif font */

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-style: normal;
}

/* Inter Font */

.inter-font {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

/* Header - Banner Section */

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.heading-right ul {
  display: flex;
  gap: 48px;
}

.heading-right ul li {
  list-style-type: none;
}
.heading-right ul li a {
  text-decoration: none;
}

.heading .home a {
  font-weight: 700;
  font-size: 16px;
  color: #252432;
}
.heading .shop a {
  font-weight: 400;
  font-size: 16px;
  color: #8987a1;
}

.heading .about-us a {
  font-weight: 400;
  font-size: 16px;
  color: #8987a1;
}

.heading .cart a {
  color: #000000;
}

/* Main Section */

/* Always Flower Section */

.banner-flower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 130px auto;
}
.banner-flower-left {
  height: fit-content;
}

.banner-flower h1 {
  font-weight: 700;
  font-size: 65px;
  margin: 13px 0;
}

.banner-flower p {
  font-weight: 400;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
}

.banner-flower img {
  display: block;
}

.banner-flower .black-text {
  color: #000000;
}

.banner-flower .orange-text {
  color: #e95a08;
}

/* our Plants */

.our-plants {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 150px auto;
  gap: 49px;
}
.our-Plants-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.our-plants h2 {
  font-weight: 700;
  font-size: 50px;
}

.our-plants .black-text {
  color: #000000;
}

.our-plants .orange-text {
  color: #e95a08;
}

.our-plants p {
  font-weight: 400;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.6;
}

.our-plants .indent {
  display: inline-block;
  margin-left: 90px;
}

.our-Plants-right {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 60px;
}

.our-Plants-right-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.our-plants .our-Plants-right img {
  margin-bottom: 30px;
}

.our-plants .lily {
  font-weight: 500;
  font-size: 22px;
  color: #111111;
  margin-left: 45px;
}

.our-plants .taka {
  font-weight: 700;
  font-size: 22px;
  color: #111111;
  margin-left: 70px;
  margin-bottom: 30px;
}

/* Flower & Plants Lover */

.flower-plants {
  display: flex;
  align-items: center;

  margin: 180px auto;
  gap: 60px;
}

.flower-plants h2 {
  font-size: 50px;
  font-weight: 700;
  color: rgb(0, 0, 0);

  margin-bottom: 20px;
}

.flower-plants ul {
  padding-left: 50px;
}
.flower-plants li {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 22px;

  padding-bottom: 20px;
}

/* Latest  Deals */

.latest-deal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 150px auto;
  gap: 16px;
}

.latest-deal h2 {
  font-weight: 700;
  font-size: 50px;
}

.latest-deal .black-text {
  color: #000000;
}

.latest-deal .orange-text {
  color: #e95a08;
}

.latest-deal p {
  font-weight: 400;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.6;
}

.latest-deal .indent {
  display: inline-block;
  margin-left: 90px;
}

/* Only Flower Section */

.only-flower {
  display: flex;
  align-items: center;
  gap: 28px;

  margin: 150px auto;
}

/* flower/deal bloom */
.only-flower-left .deal-bloom {
  position: relative;
  display: inline-block;
}

.only-flower .deal-bloom-title {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;
}

.only-flower .deal-bloom-subtitle {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;
}

/* flower/ deal ana */
.only-flower-left .deal-ana {
  position: relative;
  display: inline-block;
}

.only-flower .deal-ana-title {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;
}

.only-flower .deal-ana-subtitle {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;
}

/* flower/ deal zabo */
.only-flower-right .deal-zabo {
  position: relative;
  display: inline-block;
}

.only-flower .deal-zabo-title {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;
}

.only-flower .deal-zabo-subtitle {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;
}
